@model List<(string, string, string)>

@* Main Carousel *@
<div id="carouselComponent" class="carousel slide main-carousel-container" data-bs-ride="false">
    @* Indicators *@
    <div class="carousel-indicators">
        @foreach (var index in Model.Select((_, index) => index))
        {
            <button type="button" data-bs-target="#carouselComponent" data-bs-slide-to="@index"
            class="@(index == 0 ? "active" : "")" aria-label="Slide @(index + 1)">
            </button>
        }
    </div>

    @* Media Items *@
    <div class="carousel-inner main-carousel-inner">
        @foreach (var (mediaType, mediaUrl, mediaOrientation, index) in Model.Select((item, index) => (item.Item1, item.Item2, item.Item3, index)))
        {
            <div class="carousel-item @(index == 0 ? "active" : "")">
                @if (mediaType == "image")
                {
                    @if (mediaOrientation == "landscape")
                    {
                        <img src="@mediaUrl" width="640" height="360" class="main-carousel-img"
                        data-bs-toggle="modal" data-bs-target="#fullscreenModal"
                        data-src="@mediaUrl" alt="Slide @(index + 1)">
                    }
                    else if (mediaOrientation == "portrait")
                    {
                        <img src="@mediaUrl" width="480" height="854" class="main-carousel-img"
                        data-bs-toggle="modal" data-bs-target="#fullscreenModal"
                        data-src="@mediaUrl" alt="Slide @(index + 1)">
                    }
                }
                else if (mediaType == "video")
                {
                    @if (mediaOrientation == "landscape")
                    {
                        <iframe src="@mediaUrl" width="640" height="360" class="main-carousel-video-landscape" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    }
                    else if (mediaOrientation == "portrait")
                    {
                        <iframe src="@mediaUrl" width="480" height="854" class="main-carousel-video-portrait" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    }
                }
            </div>
        }
    </div>

    @* Navigation Buttons *@
    <button class="carousel-control-prev main-carousel-control-prev " type="button" data-bs-target="#carouselComponent" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>

    <button class="carousel-control-next main-carousel-control-next " type="button" data-bs-target="#carouselComponent" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

@* Fullscreen Modal *@
<div class="modal fade modal-container" id="fullscreenModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div id="modalCarousel" class="carousel slide modal-carousel-container" data-bs-ride="false">
                    <div class="carousel-inner">
                        @foreach (var (mediaType, mediaUrl, mediaOrientation, index) in Model.Select((item, index) => (item.Item1, item.Item2, item.Item3, index)))
                        {
                            <div class="carousel-item @(index == 0 ? "active" : "")">
                                @if (mediaType == "image")
                                {
                                    <img src="@mediaUrl" class="d-block modal-carousel-img" alt="Slide @(index + 1)">
                                }
                                else if (mediaType == "video")
                                {
                                    <div class="modal-carousel-video-wrapper">
                                        @if (mediaOrientation == "landscape")
                                        {
                                            <iframe src="@mediaUrl" width="640" height="360" class="d-block modal-carousel-video-landscape" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                            </iframe>
                                        }
                                        else if (mediaOrientation == "portrait")
                                        {
                                            <iframe src="@mediaUrl" width="480" height="854" class="d-block modal-carousel-video-portrait" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                            </iframe>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev modal-carousel-control-prev" type="button" data-bs-target="#modalCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next modal-carousel-control-next" type="button" data-bs-target="#modalCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
